.Transaction {
   
    display: grid;
    grid-template-columns: repeat(auto-fill),minmax(300px,1fr);
    gap: 1rem;
    align-items: flex-start;
    width: 300px;
    margin:20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    text-align: center;

  }

.New form {
    margin: auto;
    width: 95%;
  }

  input[type],
  textarea {
    display: block;
    width: 90%;
    margin: auto;
  }

  .submit-button{
    border-radius: 5px;
    background-color: royalblue
  }
